
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

} */
body{
    background: #675edf;
    font-family: sans-serif;
}

.login-page {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form {
  position: relative;
  filter:drop-shadow(0 0 2px #000000);
  border-radius: 5px;
  width: 360px;
  height: 420px;
  background-color: #ffffff;
  padding:40px;
}

.form img {
    position: absolute;
    height: 20px;
    top: 205px;
    right: 60px;
    cursor: pointer;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    border-radius: 4px;
    width: 100%;
    border: 0;
    margin: 15px 0;
    padding: 15px;
    font-size: 14px;
}

.form input:focus {
    box-shadow: 0 0 5px 0 rgb(88, 233, 214);
}

span {
    color: red;
    margin: 10px 0;
    font-size: 14px;
}

.form button {
    outline: 0;
    background: rgb(88, 156, 233);
    width: 100%;
    border: 0;
    margin-top: 10px;
    border-radius: 3px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: rgb(0, 93, 200);
    color: #fff;

}

.update-page {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-update {
  position: relative;
  filter:drop-shadow(0 0 2px #000000);
  border-radius: 5px;
  width: 620px;
  height: 350px;
  background-color: #e5e3f7;
  padding:40px;
}

input[type=file]::file-selector-button {
  margin-right: 10px;
  border: none;
  background: linear-gradient(to bottom, rgb(88, 156, 233), #0056b3);
  padding: 10px 20px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: rgb(0, 93, 200);
}

.form-update input[type=file] {
    outline: 0;
    background: #f2f2f2;
    border-radius: 4px;
    width: 95%;
    border: 0;
    margin: 10px 0;
    padding: 15px;
    font-size: 14px;
}

#prg{
    text-align: center;
}

#prgbar{
    background-color:#f1f1f1;
    border-radius:10px
}

#bar{
    background-color:#3498db;
    width:0%;
    height:10px;
    border-radius:10px
}
    

.submit{
    text-align: center;
}

.submit input[type = submit]{
    outline: 0;
    background: rgb(88, 156, 233);
    border-radius: 4px;
    width: 200px;
    border: 0;
    margin: 10px 0;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

.submit input[type = submit]:hover{
    background: rgb(0, 93, 200);
}